.postTitle {
  font-size: 25px;
  font-weight: 500;
  color: #000;
}

.description {
  margin-bottom: 2em;
  display: flex;
  color: #6b7280;
  font-size: 14px;
}
.titleDescription {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-right: 1em;
  padding: 0em 1em;
}

.contentText {
  margin-top: 1em;
  color: #6b7280;
  font-size: 14px;
  padding: 1em;
}
