.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  .title {
    font-size: 45px;
    font-weight: bold;
    margin-right: 1em;
    color: #000;
  }
  .search {
    width: 100%;
    margin-bottom: 0.5em;
  }
  .filterContainer {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    max-width: 25vw;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-top: 5em;
}

@media only screen and (max-width: 850px) {
  .main {
    padding: 0;
  }
  .header {
    flex-direction: column;
    align-items: center;
    .title {
      margin-top: 0.5em;
      margin-right: 0em;
    }
    .search {
      width: 20em;
      margin-bottom: 0.5em;
    }
    .filterContainer {
      display: flex;
      flex-direction: column;
      max-width: fit-content;
      align-items: center;
      margin: 1em 0em;
    }
  }

  .content {
    margin-top: 2em;
    padding: 0em 1em;
    width: 100%;
  }
}
